  <!DOCTYPE html>
  <html lang="en">
    <head>
          <link rel="stylesheet" type="text/css" href="css/style.css">
          <link rel="stylesheet" href="css/deli-very.css">
          <script type="text/javascript" src="js/menu.js"></script>

          <script src="/socket.io/socket.io.js" defer></script>

          <script src="js/vue_script.js" defer></script>

          <script src="js/js_script.js" defer></script>

          <title>Hannas Burgers</title>
          <meta charset="utf-8"/>

      </head>
      <body>
        <main>

          <h1 class ="Welcome"> Welcome to BurgerOnline</h1>
          <section id ="Header">
            <img src = "https://www.metro.ca/userfiles/image/recettes-occasions/special-features/picnic-bbq/festiveburger-header.jpg" alt= "Spa" title = "Header" width = 100%  >
          </section>

          <section v-bind:title = "selBurger" id = "Burger">
            <h2>{{selBurg}}</h2>
            <p>{{burgtext}}</p>

            <div class="center">
                <div class="burgerBox" v-for="burger in menuArray">
                <div class="burgerText" > {{burger.name}}</div>
                <div class="burgerPic"><img v-bind:src="burger.img" alt="Hamburgare" title="Hamburger" ></div>
                <div class="burgerInfo">

              <ul>
                <li> {{burger.kcal}} kCal </li>
                <li v-if="burger.containsLactos"> Contains <span id="allergy">Lactos</span> </li>
                <li v-if="burger.containsGluten"> Contains <span id="allergy">Gluten </span></li>
            </ul>
            </div>
              <input type="checkbox" name="selBurger" :value="burger.name"> Select <br>
                </div>
            </section>


        <section id = "Order">

            <h2>Customer Information</h2>
            <p>This is where you provide necessary information</p>
            <h3>Delivery information:</h3>
            
            <p>
              <label for="First- and Last name">Full name</label><br>
              <input type="text" id="First- and Last name" name="fn" required="required" placeholder="First- and Last Name" />
            </p>

            <p>
             <label for="email">email</label><br>
             <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
            </p>

            <p>
              <label for="Street">Street</label><br>
              <input type="text" id="Street" name="st" required="required" placeholder="Street name" />
            </p>

            <p>
              <label for="House">House</label><br>
              <input type="number" id="House" name="hou" required="required" placeholder="House number" />
            </p>

            <p>
              <label for="payment">Payment</label><br />
              <select id = "payment" name="pay">
                <option selected>Credit card </option>
                <option>Invoice</option>
                <option>Direct payment</option>
                <option>Klarna</option>
              </select>
            </p>


            <a> Please indicate point of delivery on the map: </a>
              <div class="view-box">
                <div id="dots" v-on:click="displayOrder">
                  <div
                    v-for="order in orders"
                    v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">

                  </div>
                </div>
              </div>
               <a href="/dispatcher" target="_blank" style="font-size:70%; font-style:italic">Open dispatcher in new window</a

            <p>
              <label for="Gender" id="Gender"> Gender options</label><br />
              <input type="radio" name="gender" value="Male"> Male<br>
              <input type="radio" name="gender" value="Female"> Female<br>
              <input type="radio" name="gender" value="None-binary" checked="checked"> None-binary<br>
              <input type="radio" name="gender" value="Undisclosed"> Undisclosed<br>
            </p>
        </section>
        <div id = "Button">
               <button type="submit" id = "button" v-on:click="addOrder"><img src="https://previews.123rf.com/images/canbedone/canbedone1703/canbedone170300003/73111691-happy-cartoon-hamburger-character-isolated-on-white.jpg" width = "20" /> Place my order!</button>
               <div id="answers">
                        <h3>
                          Customer details
                        </h3>
                        {{output}}
                        <h3>
                          Burgers selected
                         </h3>
                        {{burgers}}
                      </div>
        </div>
       </section>
      </section>
        </main>

        <footer>
          <hr>
           &copy; 2020 Hypothetical Burgers Inc.
          </hr>
        </footer>
      </body>
  </html>
