@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}


 body {
     color: black;
            font-family: arial;
            font-size: 30px;
            margin: 0 auto;
        }


        h1 {
            color: black;
            margin-left: 20px;
            margin:0 auto;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow:hidden;

        }

        #header {
            margin: 10px 10px;
            opacity: 0.5;
        }

        .classname {
            color: #f8f8ff;
            padding-left: 2%;
        }

        #idname {
            font-weight: bold;
        }



         #Order {

             margin: 10px 10px;
             border: 4px dashed black;
             padding-left: 2%;
             font-size: 20px;


         }

         #Burger {
             background-color: black;
             margin: 1px 10px;
             border: 4px dashed white;


         }

         button:hover {
             background-color: #ffc0cb;
             cursor: pointer;

         }
         .center {
             display: grid;
             grid-gap: 10px;
              padding-left: 2%;


         }

         .burger1{


             grid-column-start: 1;
             grid-row-start: 1;
             grid-row-end: 3;
         }

         .burger2{


            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 3;


           }

         .burger3{


             grid-column-start: 3;
             grid-row-start: 1;
             grid-row-end: 3;
         }

        .center li {
            color: white;
        }

         #Button {
             padding-left: 2%;

         }


         footer {
             font-size: 12px;
         }
