@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}


body {
    color: black;
    font-family: arial;
    font-size: 30px;
    margin: 0 auto;
        }

  h1 {
    color: black;
    margin-left: 20px;
    margin:0 auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;

        }

  #header {
    margin: 10px 10px;
    opacity: 0.5;
        }

  .classname {
      color: #f8f8ff;
      padding-left: 2%;
        }

  #idname {
      font-weight: bold;
        }

  #Order {
    background-color: white;
    color: black;
    margin: 10px 10px;
    border: 4px dashed black;
    padding-left: 2%;
    font-size: 20px;

         }

 #Burger {

    background-color: black;
    color: white;
    margin: 1px 10px;
    border: 4px dashed white;
         }

button:hover {

    background-color: #ffc0cb;
    cursor: pointer;

         }
.center {

    display: grid;

    grid-gap: 5em;
    color: white;
    grid-template-columns: 18em, 18em, 18em;
 }


 #Button {
  padding-left: 2%;


         }

  footer {
      font-size: 12px;
         }


#burgers {
             background-color: rgb(15, 10, 10);
             text-align: center;
             -webkit-text-fill-color: rgb(225, 238, 250);
             border: 5px dashed rgb(106, 12, 143);
         }

